asgiref==3.3.2
Django==3.2.25
pytz==2020.1
sqlparse==0.4.4
php-wsgi
pyyaml==5.4
django-crispy-forms
gunicorn
django-heroku
whitenoise
django-allauth
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability